.nav{
    background-color: #333333;
    color: white;
   display: flex;
   text-align: end;
   align-items: center;
    
}
    

.nav-links{
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    

    color: white;
}

a{
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: end;
    justify-content: flex-end;
    
}